<section class="main">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-4">
      <div class="container">
        <h3>Sectors</h3>
        <div class="card" style="width: 495px">
          <div class="row pt-2 pl-4">
            <div class="col-md-4">
              <p><b>Sector Name</b></p>
            </div>
            <div class="col-md-4">
              <p></p>
            </div>
            <div class="col-md-4">
              <p><b>Incharge Name</b></p>
            </div>
            <div class="col-md-4">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-8">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Blue Colts</h3>
            <div class="card" style="width: 538">
              <div class="row pt-2 pl-4">
                <div class="col-md-6">
                  <p><b>Bike 1</b></p>
                </div>
                <div class="col-md-6">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Sensitive Picket</h3>
            <div class="card" style="width: 538">
              <div class="row pt-2 pl-4">
                <div class="col-md-6">
                  <p><b> Sensitive Picket 1 </b></p>
                </div>
                <div class="col-md-6">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Hyper Sensitive Picket</h3>
            <div class="card" style="width: 538px">
              <div class="row pt-2 pl-4">
                <div class="col-md-6">
                  <p><b>Hyper Sensitive Picket 1</b></p>
                </div>
                <div class="col-md-6">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Immersion Points</h3>
            <div class="card" style="width: 538">
              <div class="row pt-2 pl-4">
                <div class="col-md-6">
                  <p><b>Immersion Points 1</b></p>
                </div>
                <div class="col-md-6">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Mobile Parties</h3>
            <div class="card" style="width: 538">
              <div class="row pt-2 pl-4"></div>
              <div class="row pt-2 pl-4">
                <div class="col-md-6">
                  <p><b>Mobile Parties 1</b></p>
                </div>
                <div class="col-md-6">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Patrol Cars</h3>
            <div class="card" style="width: 538">
              <div class="row pt-2 pl-4">
                <div class="col-md-6">
                  <p><b>Patrol 1</b></p>
                </div>
                <div class="col-md-6">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <button
          type="btn"
          class="btn"
          style="margin-left: 500px"
        >
          <b>Edit</b>
        </button>
        <button type="btn" class="btn" style="margin-left: 50px">
          <b>Delete</b>
        </button> <br><br>
      </div>
    </div>
  </div>
  </div>
</section>
