<!-- <section class="main">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 400px;">
                    <h4 class="text-center pt-2 pb-2">Professional Details</h4>
                    <img src="../../assets/images/policeImg.jpg" style="height: 280px; width: 398px;">
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Name</h6>
                        </div>
                        <div class="col-md-6">
                            <p>John Doe</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Designation</h6>
                        </div>
                        <div class="col-md-6">
                            <p>CI</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Age</h6>
                        </div>
                        <div class="col-md-6">
                            <p>46</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Email</h6>
                        </div>
                        <div class="col-md-6">
                            <p>police@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>
</section> -->



<section class="main">
    <div class="container pt-5">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img class="image ml-4" src="../../assets/images/logo1.png" style="height: 190px; width: 260px;">
                </div>
                <div class="col-md-6">
                    <div class="row pt-3">
                        <div class="col-md-4"><b>Name</b></div>
                        <div class="col-md-6">Praveen</div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-4"><b>Designation</b></div>
                        <div class="col-md-6">Dy. Commissioner of police</div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-4"><b>Land Line</b></div>
                        <div class="col-md-6">27166626</div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-4"><b>Fax</b></div>
                        <div class="col-md-6">27166626</div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-4"><b>Email</b></div>
                        <div class="col-md-6">dcp-bnr-cyb@tspolice.gov.in</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 538px;">
                    <h3>Personal Skills</h3><hr>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Personal Skills</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Public Personal Relation</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Languages Known</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 538px;">
                    <h3>Posting Information</h3><hr>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Personal Skills</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Public Personal Relation</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Languages Known</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 538;">
                    <h3>Banking Details</h3><hr>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Personal Skills</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Public Personal Relation</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Languages Known</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 538;">
                    <h3>Address for correspondence</h3><hr>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Personal Skills</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Public Personal Relation</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Languages Known</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 538;">
                    <h3>Health Profile</h3><hr>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>L & O Skills</p>
                        </div>
                        <div class="col-md-6">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Personal Skills</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Public Personal Relation</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                    <div class="row pt-2 pl-4">
                        <div class="col-md-6">
                            <p>Languages Known</p>
                        </div>
                        <div class="col-md-4">
                            <p>data</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div><br>
        <button type="btn" class="btn btn-outline-primary" style="margin-left: 500px;"><b>Print</b></button>
        <button type="btn" class="btn btn-info" style="margin-left: 50px;" (click)="onClick()"><b>Okay</b></button>
    </div><br><br>
</section>