<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/images/logo1.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="../home/"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../view-staff-details/" style="background-color: #4A53E1; color: white;"><b>My Staff</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../other-staff/"><b>Out Staff</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../create-bundobust/"><b>Create Bundobust</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../events/"><b>Events</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../alerts/"><b>Alerts</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../reports/"><b>Reports</b></a>
            </li>
        </ul>
    </div>
</nav>


<div class="container pt-5">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Name</th>
                    <th>Journal No</th>
                    <th>Rank</th>
                    <th>District</th>
                    <th>SDPO</th>
                    <th>Circle</th>
                    <th>Police Station</th>
                    <th>Mobile Number</th>
                    <th>Status</th>
                    <th>Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>1</p>
                    </td>


                    <td>
                        <p>John Cena</p>
                    </td>


                    <td>
                        <p>5428756</p>
                    </td>


                    <td>
                        <p>01</p> 
                    </td>

                    <td>
                        <p>Rangareddy</p>
                    </td>

                    <td>
                        <p>SDPO1</p>
                    </td>

                    <td>
                        <p>circle1</p>
                    </td>

                    <td>
                        <p>Kukatpally</p>
                    </td>

                    <td>
                        <p>9996669988</p>
                    </td>
                    <td>
                        <p>Avaliable</p>
                        <!-- <p>Unavaliable</p> -->
                        <!-- <button type="button" class="btn btn-info">Avaliable</button> -->
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" (click)="view()">View</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>2</p>
                    </td>


                    <td>
                        <p>Joe Mark</p>
                    </td>


                    <td>
                        <p>5428756</p>
                    </td>


                    <td>
                        <p>01</p> 
                    </td>

                    <td>
                        <p>Rangareddy</p>
                    </td>

                    <td>
                        <p>SDPO1</p>
                    </td>

                    <td>
                        <p>circle1</p>
                    </td>

                    <td>
                        <p>Kukatpally</p>
                    </td>

                    <td>
                        <p>9996669988</p>
                    </td>
                    <td>
                        <p>Avaliable</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" (click)="view()">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-info" (click)="back()">Back</button>
</div>