<div class="container pt-5">
    <div class="table-responsive pt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Event Id</th>
                    <th>Event Name</th>
                    <th>District</th>
                    <th>SDPO</th>
                    <th>Circle</th>
                    <th>Police Station</th>
                    <th>Depolyed Staff</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TS0125</td>
                    <td>Ganesh Bandobast</td>
                    <td>Ranga Reddy</td>
                    <td>SDPO1</td>
                    <td>Circle1</td>
                    <td>Kukatpally</td>
                    <td>0</td>
                    <td>01-7-2020</td>
                    <td>15-07-2020</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5">
    <h2 class="title mb-5">Request to Allocate</h2>
    <div class="row mb-4">
        <div class="col-md-2">
            <h5>SI</h5>
        </div>
        <div class="col-md-3">
            <select id="" class="form-control">
                <option value="">Select</option>
                <option value="">...</option>
            </select>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2">
            <h5>ASI</h5>
        </div>
        <div class="col-md-3">
            <select id="" class="form-control">
                <option value="">Select</option>
                <option value="">...</option>
            </select>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2">
            <h5>HC</h5>
        </div>
        <div class="col-md-3">
            <select id="" class="form-control">
                <option value="">Select</option>
                <option value="">...</option>
            </select>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2">
            <h5>PC</h5>
        </div>
        <div class="col-md-3">
            <select id="" class="form-control">
                <option value="">Select</option>
                <option value="">...</option>
            </select>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2">
            <h5>Homeguard</h5>
        </div>
        <div class="col-md-3">
            <select id="" class="form-control">
                <option value="">Select</option>
                <option value="">...</option>
            </select>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2">
            <h5>Any</h5>
        </div>
        <div class="col-md-3">
            <select id="" class="form-control">
                <option value="">Select</option>
                <option value="">...</option>
            </select>
        </div>
    </div>
    <button type="button" class="btn btn-primary"
        style="margin-right: 50px; margin-top: 50px; margin-left: 400px; border-radius: 30px; height: 50px; width: 120px;"
        (click)="back()">Back</button>
    <button type="button" class="btn btn-primary"
        style="margin-right: 50px; margin-top: 50px; border-radius: 30px; height: 50px; width: 120px;"
        >Allocate</button>
</div>

<div class="container pt-5">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Name</th>
                    <th>Journal No</th>
                    <th>Rank</th>
                    <th>District</th>
                    <th>SDPO</th>
                    <th>Circle</th>
                    <th>Police Station</th>
                    <th>Mobile Number</th>
                    <th>Status</th>
                    <th>Profile</th>
                    <th>select</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>1</p>
                    </td>


                    <td>
                        <p>John Cena</p>
                    </td>


                    <td>
                        <p>5428756</p>
                    </td>


                    <td>
                        <p>01</p> 
                    </td>

                    <td>
                        <p>Rangareddy</p>
                    </td>

                    <td>
                        <p>SDPO1</p>
                    </td>

                    <td>
                        <p>circle1</p>
                    </td>

                    <td>
                        <p>Kukatpally</p>
                    </td>

                    <td>
                        <p>9996669988</p>
                    </td>
                    <td>
                        <p>Avaliable</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" (click)="view()">View</button>
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>2</p>
                    </td>


                    <td>
                        <p>Joe Mark</p>
                    </td>


                    <td>
                        <p>5428756</p>
                    </td>


                    <td>
                        <p>01</p> 
                    </td>

                    <td>
                        <p>Rangareddy</p>
                    </td>

                    <td>
                        <p>SDPO1</p>
                    </td>

                    <td>
                        <p>circle1</p>
                    </td>

                    <td>
                        <p>Kukatpally</p>
                    </td>

                    <td>
                        <p>9996669988</p>
                    </td>
                    <td>
                        <p>Avaliable</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" (click)="view()">View</button>
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary mb-5" (click)="back()" 
    style="margin-right: 50px; margin-top: 50px; margin-left: 400px; border-radius: 30px; height: 50px; width: 120px;">Back</button>
    <button type="button" class="btn btn-primary mb-5" (click)="submit()"
    style="margin-right: 50px; margin-top: 50px; border-radius: 30px; height: 50px; width: 120px;">Submit</button>
</div>