<div class="sidenav">
    <a href="../../sdpo1/" class="personal pt-5">Within SDPO</a>
    <a href="../../district1/">Within District</a>
    <a href="../../state1/">Within State</a>
    <a href="../../other-department1/">Other Deparments</a>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered text-center mt-5">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Name</th>
                    <th>Journal No</th>
                    <th>Rank</th>
                    <th>District</th>
                    <th>SDPO</th>
                    <th>Circle</th>
                    <th>Police Station</th>
                    <th>Mobile Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>1</p>
                    </td>


                    <td>
                        <p>John Cena</p>
                    </td>


                    <td>
                        <p>5428756</p>
                    </td>


                    <td>
                        <p>01</p>
                    </td>

                    <td>
                        <p>Rangareddy</p>
                    </td>

                    <td>
                        <p>SDPO1</p>
                    </td>

                    <td>
                        <p>circle1</p>
                    </td>

                    <td>
                        <p>Kukatpally</p>
                    </td>

                    <td>
                        <p>9996669988</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>