<!-- --------------------------------- BODY -------------------------------->

<section class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <span></span>
        <img
          src="../../../assets/images/logo1.png"
          width="500px"
          height="500px"
          alt="police"
        />
      </div>
      <div class="col-md-8">
        <h2>Telangana State Police Bandobust</h2>
        <br /><br /><br /><br /><br />
        <span class="buttons" style="margin-left: 150px;">
          <button type="btn" class="btn" (click)="create()">
            Create Profile
          </button>
          <button
            type="btn"
            class="btn"
            style="margin-left: 100px;"
            (click)="onClick()"
          >
            Create Bundobust
          </button>
        </span>
      </div>
    </div>
  </div>
</section>
