<div class="sidenav">
    <a href="../circle/" class="personal pt-5">Within Circle</a>
    <a href="../sdpo/">Within SDPO</a>
    <a href="../district/">Within District</a>
    <a href="../state/">Within State</a>
    <a href="../other-deparments/">Other Departments</a>
    <a href="../publish-details/">Preview Details</a>
</div>

<div class="container pt-5">
    <div class="table-responsive">
        <h4 class="header mt-5"><b>State</b></h4>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Name</th>
                    <th>Journal No</th>
                    <th>Rank</th>
                    <th>District</th>
                    <th>SDPO</th>
                    <th>Circle</th>
                    <th>Police Station</th>
                    <th>Mobile Number</th>
                    <!-- <th>Assign Duty</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>1</p>
                    </td>


                    <td>
                        <p>John Cena</p>
                    </td>


                    <td>
                        <p>5428756</p>
                    </td>


                    <td>
                        <p>01</p>
                    </td>

                    <td>
                        <p>Rangareddy</p>
                    </td>

                    <td>
                        <p>SDPO1</p>
                    </td>

                    <td>
                        <p>circle1</p>
                    </td>

                    <td>
                        <p>Kukatpally</p>
                    </td>

                    <td>
                        <p>9996669988</p>
                    </td>
                    <!-- <td><button type="button" class="btn btn-info" style="width: 150px;" (click)="duty()">Duty
                            Ticket</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <span>
        <button type="button" id="btn" class="btn btn-light mr-5" (click)="back()">Back</button>
        <button type="button" id="btn" class="btn btn-info" (click)="next()">Next</button>
    </span>
</div>